<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />

<aside class="sidenav">
  <div class="logo">
    <img src="assets/logo.png" alt="VoteCertify Logo" />
    <p class="staff-name">{{ displayName }}</p>
  </div>

  <nav>
    <ul>
      <li *ngFor="let link of staffNavLinks">
        <a [routerLink]="link.route">
          <mat-icon>{{ link.icon }}</mat-icon>
          <span>{{ link.label }}</span>
        </a>
      </li>

      <li class="logout">
        <button (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </nav>
</aside>
