<div class="auth-container">
  <div class="background-circles">
    <span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span>
  </div>

  <div class="auth-box">
    <img src="assets/logo.png" alt="VoteCertify Logo" class="logo" />
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="email" placeholder="Email" formControlName="email" required />
      </div>
      <div class="input-group password-group">
        <i class="fas fa-lock"></i>
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" required />
        <button type="button" class="eye-btn" (click)="togglePasswordVisibility()" tabindex="-1">
          <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </div>
      <button class="btn" type="submit">Log in</button>
    </form>
    <p class="signup-text">
      Don't have an account? <a routerLink="/register">Sign up</a>
    </p>
  </div>
</div>
